:root {
  --first-color: #f6f6f6;
  --second-color: #d6e4f0;
  --third-color: grey;
  --fourth-color: black;
}
body {
  background-image: url(/public/dictionary.jpg);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.icon{
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 40px 0 0 0;
  border-radius: 10px;
}
.container {
  margin-top: 50px;
  max-width: 1000px;
}
.section {
  background-color: var(--first-color);
  border-radius: 10px;
  color: var(--fourth-color);
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 14px 1px rgba(22, 49, 114, 0.6);
}
h1 {
  font-family: "Vollkorn", serif;
  font-size: 60px;
  text-align: center;
  color: white;
}
.search {
  color: var(--third-color);
}
.button {
  background-color: var(--fourth-color);
  color: var(--first-color);
  border-color: var(--fourth-color);
}
.button:hover {
  border-color: var(--fourth-color);
  color: var(--fourth-color);
}
h3 {
  font-size: 40px;
}
h4 {
  color: var(--third-color);
  font-style: italic;
}
h5 {
  font-family: "Vollkorn", serif;
  font-style: italic;
  font-size: 30px;
}
p {
  color: var(--third-color);
  line-height: 2;
}
.example {
  opacity: 0.6;
}
.synonyms {
  margin-right: 25px;
  color: var(--third-color);
  text-decoration: underline;
}
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
footer {
  font-size: 14px;
  position: relative;
  bottom: 0;
  margin: 40px 0 30px 0;
  text-align: center;
}
a {
  color: var(--second-color);
}
@media (max-width: 800px) {
  .container {
    margin-top: 30px;
    max-width: 600px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3,
  h4,
  h5 {
    font-size: 25px;
  }
  .synonyms {
    margin-right: 10px;
  }
  .photo-gallery {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .search {
    font-size: 15px;
  }
  .button {
    font-size: 12px;
  }
}
